@{
    ViewBag.Title = "Информация";
}
<h2>@ViewBag.Title.</h2>
<h3>Сайт за търсене на изгубени вещи</h3>

<p class="lead">Това е портал за публикуване на обяви, свързани с <i>изгубени или намерени</i>  вещи. Предмети като домашни любимци, лични документи, бижута и мобилни телефони могат да бъдат върнати обратно на техните притежатели чрез помощта на уеб системата.</p>
