@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>
<h3>Още контакти</h3>

<address>
    Пловдив<br />
    Пловдив, България<br />
    <abbr title="Телефон">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Поддръжка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>