@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title:</h2>
<h3>Стоян Петков</h3>

<address>
    Пловдив<br />
    Пловдив, България<br />
    <abbr title="Телефон">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Поддръжка:</strong>   <a href="mailto:StoyanPetkov91@Gmail.com">StoyanPetkov91@Gmail.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:StoyanPetkov@Outlook.com">StoyanPetkov@Outlook.com</a>
</address>