<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CustomCSS/registerView.css")" />

@{
    ViewBag.Title = "Начална страница";
}

<div class="jumbotron">
    <h2>Изгубено &amp; Намерено <i>Обяви</i></h2>
    <p class="lead">Това е портал за публикуване на обяви, свързани с <i>изгубени или намерени</i>  вещи. Предмети като домашни любимци, лични документи, бижута и мобилни телефони могат да бъдат върнати обратно на техните притежатели чрез помощта на уеб системата.
    </p>
</div>

<div class="row ItemBoxes">
    <div class="col-md-4">
        <div class="LostItemBox">
            <h4>Изгубени вещи</h4>
            <a href="/Item/Index" class="btn btn-success">Преглед</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="FoundItemBox">
            <h4>Намерени вещи</h4>
            <a href="/Item/Index" class="btn btn-primary">Преглед</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="HotItemBox">
            <h4>Горещи обяви</h4>
            <a href="/Item/Index" class="btn btn-danger">Преглед</a>
        </div>
    </div>
</div>