<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CustomCSS/registerView.css")" />

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Lost &amp; Found <i>Items</i></h2>
    <p class="lead">Here is the place where you can post articles about <i>Lost or Found</i> stuff like pets, jewels, persons, part of broken vehicles and any other important think which shouldn't be lost or should be found.
    </p>
</div>

<div class="row ItemBoxes">
    <div class="col-md-4">
        <div class="LostItemBox">
            <h4>Lost something ?</h4>
            <button type="button" class="btn btn-success">Found items</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="FoundItemBox">
            <h4>Found something ?</h4>
            <button type="button" class="btn btn-primary">Lost items</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="HotItemBox">
            <h4>Something HOT ?</h4>
            <button type="button" class="btn btn-danger">Hot items</button>
        </div>
    </div>
</div>