@model LF.Models.MenuModel.MenuModel

<div id="mySidenav" class="sidenav">
    <p class="text-center" align="center"><b><u>Категория</u></b></p>
    @Html.DropDownListFor(model => model.Categories, Model.Categories, "--Избери--", new { @class = "DDL" })
    <hr />
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <p class="text-center" align="center"><b><u>Локация</u></b></p>
    @Html.DropDownListFor(model => model.Regions, Model.Regions, "--Област--", new { @class = "DDL" })
    @Html.DropDownListFor(model => model.Cities, Model.Cities, "--Град--", new { @class = "DDL", @style = "margin-top:25px" })
    <hr />
    <div id="radioGroup">
        <p class="text-center" align="center"><b><u>Размер</u></b></p>
        <br />
        <div>
            <input id="r2" type="radio" name="group1" class="radio4" />
            <label for="r2">Малък</label>
        </div>
        <br />
        <div>
            <input id="r3" type="radio" onclick="setRadioBtns();" name="group1" class="radio4" />
            <label for="r3">Среден</label>
        </div>
        <br />
        <div>
            <input id="r4" type="radio" name="group1" class="radio4" />
            <label for="r4">Голям</label>
        </div>
        <hr />
    </div>
    <div>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <hr />
    </div>
    <div>
        <p class="text-center" align="center"><b><u>Парична награда</u></b></p>
        <br />
        <input name="number" style="float:none;" placeholder="От" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
        <br />
        <input name="number" style="float:none;" placeholder="До" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
    </div>
</div>