@model  LF.Models.DropDownListModels.RegisterDropDownListVM

<div class="form-group" style="margin-left:4px;">
    @Html.Label(Model.label, new { @class = "col-md-2 control-label" })
    @Html.DropDownListFor(m => m.Items, new SelectList(Model.Items, "Value", "Text"), " --Избери-- ")
</div>
