@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка в системата, моля да ни извините.</h2>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h2 class="text-danger">Възникна грешка по време на обработка на заявката.</h2>
    }
    else
    {
        <h2 class="text-danger">@ViewBag.errorMessage</h2>
    }
}


