@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заключен";
}

<hgroup>
    <h1 class="text-danger">Заключен.</h1>
    <h2 class="text-danger">Този профил беше заключен. Моля, опитайте по-късно.</h2>
</hgroup>
