@{
    ViewBag.Title = "Потвърждение на електронна поща";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Благодрим, че потвърдихте вашия И-мейл. Моля @Html.ActionLink("натиснете тук", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
