@{
    ViewBag.Title = "Потвърждаване на нова парола";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Вашата парола беше сменена. Моля @Html.ActionLink("натиснете тук за вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
